body {
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section.left, 
section.right {
    height: 100vh;
}



img {
    display: block;
    height: 100%;
    width: 100%;
}


.right {
    flex: 2;
    background-color: #111111;
    padding: 90px;
}

.left {
    flex: 1;
}

/* General styling of elements */

h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-bottom: 75px;
    letter-spacing: .06em;
}


label {
    color: #b9aea5;
    font-size: 0.9rem;
}


input {
    width: 17.4rem;
    height: 2.05rem;
    /* height: 1.79rem; */
    font-size: 0.9rem;
    margin-top: 5px;
    padding: 6px 6px 6px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b9aea5;
    border-radius: 3px;
    color: #fff;
}

input:focus {
    outline: none;
}

button#submit {
    background-color: #edb77d;
    color: #fff;
    padding: 15px 43px;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    letter-spacing: .05em;
}

button#submit:hover {
    background: #e79e50;
}

#book-phone {
    color: #edb77d;
    font-size: 0.8rem;
    text-decoration: none;
}

/* Flexbox structure */

.form-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}


.form-left,
.form-right {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
}


/* Styling our inputs to have nice floating labels */


.form-left, 
.form-right {
    position: relative;
}

#label-name, 
#label-family {
    position: absolute;
    left: 10px;
    top: 14px;
}


#label-email, 
#label-phone {
    position: absolute;
    left: 10px;
    top: 114px;
}


#label-pass1, 
#label-pass2 {
    position: absolute;
    left: 10px;
    top: 217px;
}

input {
    transition: border-color .5s ease-in;
}

input:not(:placeholder-shown),
input:focus {
    border: 1px solid #edb77d;
}


label {
    transition: all .5s ease;
}

input:not(:placeholder-shown) + label,
input:focus + label {
    background-color: #edb77d;
    color: aliceblue;
    padding: 2px 8px;
    font-size: 0.7rem;
}


input:not(:placeholder-shown) + #label-name,
input:focus + #label-name,
input:not(:placeholder-shown) + #label-family,
input:focus + #label-family {
    top: -6px;
}




input:not(:placeholder-shown) + #label-email,
input:focus + #label-email,
input:not(:placeholder-shown) + #label-phone,
input:focus + #label-phone {
    top: 94px;
}


input:not(:placeholder-shown) + #label-pass1,
input:focus + #label-pass1,
input:not(:placeholder-shown) + #label-pass2,
input:focus + #label-pass2 {
    top: 197px;
}